.edit-profile-form {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pic-container label {
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-pic-container input {
    margin-bottom: 10px;
}

.profile-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.about-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.about-section label {
    font-weight: bold;
    margin-bottom: 5px;
}

.about-section textarea {
    width: 100%;
    padding:  20px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

#about:focus{
    border-color: #0077cc;
    outline:none;
}

.save-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.save-button:hover {
    background-color: #0056b3;
}
